header {
    text-align: center;
    background: url('https://lh3.googleusercontent.com/Spt-8U4XZEJjBMVWPXmOsktjb_TlvvGmjM-gRQWrcSnf8ecr9ryum60PcBLuhdywLig=h900');
    background-size: cover;
    color:white;
  }
  body{
    background-color:#308def;
    margin-top:0px;
    margin-right:0px;
    margin-left:0px;
    margin-bottom:0px;
  }
  a {
    color: white;
  }
  h1 {
    font-size: 60px;
    font-family: 'Audiowide', cursive;
  }
  img {
    margin: 40px 0px 0px 0px;
    color:white;
  }
  ul {
    padding: 10px;
    background: rgba(0,0,0,0.5);
  }
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
  }
  article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 36px;
      padding: 5px;
    }
    li {
      padding: 5px;
      display: block;
    }
  }
  p {
    color:white;

  }
  h2 {
    color:white;
    font-family: 'Audiowide', cursive;
  }
